body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em;}
header {
    background-color: #008ecf; /* Blue color, you can adjust as needed */
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  /* Navigation styles */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Footer navigation styles */
  footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  footer ul li {
    display: inline;
    margin-right: 20px;
  }
  
  footer ul li:last-child {
    margin-right: 0;
  }
  
  footer ul li a {
    color: #fff;
    text-decoration: none;
  }
  .socialicons {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .socialicons a {
    background-color: #5b5b65;
    color:aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    text-decoration: none;
  }
  .socialicons a i {
    font-size: 2em;
    opacity: 0.9;
  }
  .socialicons .youtube:hover {
    background-color: #990803;
    transition: 0.5s;
  }
  .socialicons .facebook:hover {
    background-color: #020970;
    transition: 0.5s;
  }
  .socialicons .twitter:hover {
    background-color: #2b5eec;
    transition: 0.5s;
  }
  .socialicons .instagram:hover {
    transition: 0.5s;
    background: linear-gradient(
      rgb(144, 41, 228),
      rgb(204, 25, 145),
      rgb(202, 38, 38),
      rgb(235, 128, 40),
      rgb(241, 189, 46)
    );
  }
  .socialicons .google-plus:hover {
    transition: 0.5s;
    background: linear-gradient(
      rgb(245, 207, 39),
      rgb(233, 116, 20),
      rgb(233, 28, 28),
      rgb(47, 219, 32),
      rgb(25, 109, 204)
    );
  }
  button a{
    text-decoration: none;
  }
